* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --body-mobile: 18px;
    --h1-mobile: 3.6rem;
    --warm-black: #121212;
}

html{
    font-family: 'Fraunces', serif;
    font-size: 62.5%;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    height: 100vh;
    
}

/* Header */

header{
    font-size: var(--body-mobile);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    height: 10vh;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}

header .list-header{
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    margin: 0 auto;
    width: 92%;
}

header ul li{
    
}

header .list-contact{
    visibility: hidden;
}

/* Main */

main{
    padding: 20px 0 20px;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main a{
    font-family: 'Fraunces', serif;
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    height: 50px;
    border: 1px solid black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    position: relative;
}

main a img{
    margin-left: 15px;
    width: 40px;
    height: 40px;
}

main a p{
    position: relative;
    left: 20px;
}

/* Footer */

footer{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: var(--warm-black);
}
